<c-card>
  <div class="card-header">
    <h5>Station List</h5>
  </div>
  <c-container>
    <c-row>
      <div class="table-responsive">
        <table class="table table-bordered row-border hover">
          <thead>
            <tr>
              <th>Station Name</th>
              <th class="text-center">Actions</th>
            </tr>
          </thead>
          <tbody *ngIf="stationList?.length!=0">
            <tr *ngFor="let item of stationList">
              <td><a cNavLink [active]="true" class="link-primary">{{ item.stationName }}</a></td>
              <td class="text-center">
                <button class="ang-btn-edit ang-icon-btn" cButton color="success" variant="outline"  title="edit">
                  <svg cIcon name="cilPencil" class="ang-icon-edit" size="sm"></svg>
                </button>
                <button class="ang-icon-btn" cButton color="danger" variant="outline" title="delete" >
                  <svg cIcon name="cilTrash" class="ang-icon-delete" size="sm"></svg>
                </button>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="stationList?.length==0">
            <tr>
              <td colspan="6" class="no-data-available">No data!</td>
              <td style="display: none"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </c-row>
  </c-container>
</c-card>
